img.bg-img {
  /* http://css-tricks.com/perfect-full-page-background-image/ */
  /* fill background */
  min-height: 100%;
  min-width: 1024px;

  /* proportionate scaling */
  width: 100%;
  height: auto;

  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.md-navlinks li.logo {
  background: url(../images/mcp-logo-white.svg) center no-repeat;
}

.md-navlinks li a {
  color: white;
}
.md-navlinks li a:hover {
  color: whitesmoke;
  border-top: 3px solid whitesmoke;
  text-shadow: none;
}

/* Mobile Nav Arrow */
.open-menu {
  color: white;
}

.open-menu:hover {
  color: #2c454f;
}

/* Text Shadows */
h3.mb-3,
p.mb-5 {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

h3.mb-3 {
  font-weight: normal;
}

/* Content */
/* === */
.mcp-heading div.mcpinsan {
  display: none;
  text-indent: -9999px;
  font-family: "Libre Baskerville", serif;
}

.full-cta {
  font-family: "Libre Baskerville", serif;
}

.full-cta p {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  h3.mb-3 {
    font-size: 1.2rem;
  }

  .full-cta p {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  h3.mb-3 {
    font-size: 1.3rem;
  }

  .full-cta p {
    font-size: 1rem;
  }
}
