/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(44, 69, 79); /* Black fallback color */
  background-color: rgba(44, 69, 79, 0.95); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 1.875rem; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 2.25rem;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  font-family: "Libre Baskerville", serif;
  text-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.5);
}

.overlay a .italic {
  font-style: italic;
  font-size: 1.5em;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: whitesmoke;
  opacity: 0.7;
  transition: all 0.5s;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  font-size: 1.5rem;
  color: white;
  opacity: 0.7;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Mobile Nav */
.overlay .closebtn:hover {
  text-shadow: rgba(0, 0, 0, 0.2);
  opacity: 1;
  cursor: pointer;
}
